<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.DutyMapper" >
  <resultMap id="BaseResultMap" type="po.Duty" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="dutyname" property="dutyname" jdbcType="VARCHAR" />
    <result column="deptid" property="deptid" jdbcType="DECIMAL" />
    <result column="addtime" property="addtime" jdbcType="DATE" />
    <result column="updatetime" property="updatetime" jdbcType="DATE" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dutyname, deptid, addtime, updatetime, comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_duty
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_duty
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="po.Duty" >
    insert into t_duty (id, dutyname, deptid, 
      addtime, updatetime, comment
      )
    values (#{id,jdbcType=DECIMAL}, #{dutyname,jdbcType=VARCHAR}, #{deptid,jdbcType=DECIMAL}, 
      #{addtime,jdbcType=DATE}, #{updatetime,jdbcType=DATE}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.Duty" >
    insert into t_duty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dutyname != null" >
        dutyname,
      </if>
      <if test="deptid != null" >
        deptid,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="dutyname != null" >
        #{dutyname,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=DECIMAL},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=DATE},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=DATE},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.Duty" >
    update t_duty
    <set >
      <if test="dutyname != null" >
        dutyname = #{dutyname,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        deptid = #{deptid,jdbcType=DECIMAL},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=DATE},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=DATE},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Duty" >
    update t_duty
    set dutyname = #{dutyname,jdbcType=VARCHAR},
      deptid = #{deptid,jdbcType=DECIMAL},
      addtime = #{addtime,jdbcType=DATE},
      updatetime = #{updatetime,jdbcType=DATE},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>