<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="po.Notice" >
    <id column="noticeid" property="noticeid" jdbcType="DECIMAL" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="begindate" property="begindate" jdbcType="TIMESTAMP" />
    <result column="enddate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="DECIMAL" />
    <result column="isfile" property="isfile" jdbcType="DECIMAL" />
    <result column="isread" property="isread" jdbcType="DECIMAL" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="po.Notice" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    noticeid, userid, title, begindate, enddate, status, isfile, isread, addtime, updateuser, 
    updatetime
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_notice
    where noticeid = #{noticeid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_notice
    where noticeid = #{noticeid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="po.Notice" >
    insert into t_notice (noticeid, userid, title, 
      begindate, enddate, status, 
      isfile, isread, addtime, 
      updateuser, updatetime, content
      )
    values (#{noticeid,jdbcType=DECIMAL}, #{userid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{begindate,jdbcType=TIMESTAMP}, #{enddate,jdbcType=TIMESTAMP}, #{status,jdbcType=DECIMAL}, 
      #{isfile,jdbcType=DECIMAL}, #{isread,jdbcType=DECIMAL}, #{addtime,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.Notice" >
    insert into t_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noticeid != null" >
        noticeid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="begindate != null" >
        begindate,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isfile != null" >
        isfile,
      </if>
      <if test="isread != null" >
        isread,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noticeid != null" >
        #{noticeid,jdbcType=DECIMAL},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="begindate != null" >
        #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="isfile != null" >
        #{isfile,jdbcType=DECIMAL},
      </if>
      <if test="isread != null" >
        #{isread,jdbcType=DECIMAL},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.Notice" >
    update t_notice
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="begindate != null" >
        begindate = #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=DECIMAL},
      </if>
      <if test="isfile != null" >
        isfile = #{isfile,jdbcType=DECIMAL},
      </if>
      <if test="isread != null" >
        isread = #{isread,jdbcType=DECIMAL},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where noticeid = #{noticeid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="po.Notice" >
    update t_notice
    set userid = #{userid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      begindate = #{begindate,jdbcType=TIMESTAMP},
      enddate = #{enddate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=DECIMAL},
      isfile = #{isfile,jdbcType=DECIMAL},
      isread = #{isread,jdbcType=DECIMAL},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      updateuser = #{updateuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where noticeid = #{noticeid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Notice" >
    update t_notice
    set userid = #{userid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      begindate = #{begindate,jdbcType=TIMESTAMP},
      enddate = #{enddate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=DECIMAL},
      isfile = #{isfile,jdbcType=DECIMAL},
      isread = #{isread,jdbcType=DECIMAL},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      updateuser = #{updateuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where noticeid = #{noticeid,jdbcType=DECIMAL}
  </update>
</mapper>