<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.NoticeFileMapper" >
  <resultMap id="BaseResultMap" type="po.NoticeFile" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="noticeid" property="noticeid" jdbcType="DECIMAL" />
    <result column="oldname" property="oldname" jdbcType="VARCHAR" />
    <result column="newname" property="newname" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, noticeid, oldname, newname, isdel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_notice_file
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_notice_file
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="po.NoticeFile" >
    insert into t_notice_file (id, noticeid, oldname, 
      newname, isdel)
    values (#{id,jdbcType=DECIMAL}, #{noticeid,jdbcType=DECIMAL}, #{oldname,jdbcType=VARCHAR}, 
      #{newname,jdbcType=VARCHAR}, #{isdel,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="po.NoticeFile" >
    insert into t_notice_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="noticeid != null" >
        noticeid,
      </if>
      <if test="oldname != null" >
        oldname,
      </if>
      <if test="newname != null" >
        newname,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="noticeid != null" >
        #{noticeid,jdbcType=DECIMAL},
      </if>
      <if test="oldname != null" >
        #{oldname,jdbcType=VARCHAR},
      </if>
      <if test="newname != null" >
        #{newname,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.NoticeFile" >
    update t_notice_file
    <set >
      <if test="noticeid != null" >
        noticeid = #{noticeid,jdbcType=DECIMAL},
      </if>
      <if test="oldname != null" >
        oldname = #{oldname,jdbcType=VARCHAR},
      </if>
      <if test="newname != null" >
        newname = #{newname,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.NoticeFile" >
    update t_notice_file
    set noticeid = #{noticeid,jdbcType=DECIMAL},
      oldname = #{oldname,jdbcType=VARCHAR},
      newname = #{newname,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=DECIMAL}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>