<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="po.User" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="dutyid" property="dutyid" jdbcType="DECIMAL" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="marry" property="marry" jdbcType="CHAR" />
    <result column="idcard" property="idcard" jdbcType="CHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="CHAR" />
    <result column="registerdate" property="registerdate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, realname, dutyid, pwd, sex, birthday, city, marry, idcard, phone, email, 
    address, permission, registerdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=DECIMAL}
  </select>
   <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_user
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="po.User" >
    insert into t_user (id, userid, realname, 
      dutyid, pwd, sex, birthday, 
      city, marry, idcard, phone, 
      email, address, permission, 
      registerdate)
    values (#{id,jdbcType=DECIMAL}, #{userid,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{dutyid,jdbcType=DECIMAL}, #{pwd,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{birthday,jdbcType=DATE}, 
      #{city,jdbcType=VARCHAR}, #{marry,jdbcType=CHAR}, #{idcard,jdbcType=CHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{permission,jdbcType=CHAR}, 
      #{registerdate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="po.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="dutyid != null" >
        dutyid,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="marry != null" >
        marry,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="registerdate != null" >
        registerdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="dutyid != null" >
        #{dutyid,jdbcType=DECIMAL},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="marry != null" >
        #{marry,jdbcType=CHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=CHAR},
      </if>
      <if test="registerdate != null" >
        #{registerdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.User" >
    update t_user
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="dutyid != null" >
        dutyid = #{dutyid,jdbcType=DECIMAL},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="marry != null" >
        marry = #{marry,jdbcType=CHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=CHAR},
      </if>
      <if test="registerdate != null" >
        registerdate = #{registerdate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.User" >
    update t_user
    set userid = #{userid,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      dutyid = #{dutyid,jdbcType=DECIMAL},
      pwd = #{pwd,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=DATE},
      city = #{city,jdbcType=VARCHAR},
      marry = #{marry,jdbcType=CHAR},
      idcard = #{idcard,jdbcType=CHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=CHAR},
      registerdate = #{registerdate,jdbcType=DATE}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>